
// ===============================
// ✍️ Typography Settings
// ===============================

html {
  font-size: 17px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: $body-bg;
  color: $body-color;
}

h1, h2, h3, h4, h5 {
  font-family: inherit;  // body 기본 글씨체 사용
  font-weight: 700;
  color: $secondary;
}

p {
  font-family: inherit;
  font-size: 1.1rem;
  color: #555;
}


.text-muted {
  color: #777 !important;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: darken($primary, 10%);
  }
}
@media (max-width: 576px) {
  html {
    font-size: 20px; // 모바일에서 글씨 크게
  }
}
