// ===============================
// 🅰️ Custom Font Import
// ===============================

@font-face {
  font-family: 'Kyobo2024'; // 본문용
  src: url('@/assets/fonts/KyoboHandwriting2024psw.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Siganpyo'; // 제목용
  src: url('@/assets/fonts/Hakgyoansim_SiganpyoR.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ===============================
// ✍️ Typography Settings
// ===============================

body {
  font-family: 'Siganpyo', 'Siganpyo', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: $body-bg;
  color: $body-color;
}

h1, h2, h3, h4, h5 {
  font-family: 'Siganpyo', 'Siganpyo', sans-serif;
  font-weight: 700;
  color: $secondary;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-family: 'Kyobo2024', 'Kyobo2024', sans-serif;
  font-size: 1rem;
  color: #555;
}

.text-muted {
  color: #777 !important;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: darken($primary, 10%);
  }
}
