// ===============================
// ✍️ Typography Settings
// ===============================

body {
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: $body-bg;
  color: $body-color;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: $secondary;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
  color: #555;
}

.text-muted {
  color: #777 !important;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: darken($primary, 10%);
  }
}
